<div class="blue-body">
    <!-- <a href="#" [ngClass]="{ 'btn disabled p-0': disabled }" (click)="getAuthorization($event)" [routerLink]="['/login']"> -->
      <a href="#" [ngClass]="{ 'btn disabled p-0': disabled }" (click)="getAuthorization($event)">
      <header>
        <img src="assets/img/header.png">
        <div class="row text-center">
            <div class="col-4 offset-4 ">
                <div class="logo">
                  <img src="assets/img/Logo_Paris_Cencosud.png">
                </div>
            </div>
        </div>
    </header>
    <div class="row text-center">
        <div class="col-12 ">
          <video src="assets/img/PARIS LOOKBOOK.mp4" autoplay loop class="w-100 mt-5"></video>
        </div>

        <div class="col-12 welcome animated bounceIn infinite hardslower">Bienvenidos</div>

        <div class="col-12">
          <img src="assets/img/touch.gif" class="img-touch">
        </div>

        <div class="col-12 welcome-light animated bounceIn infinite hardslower ">Toque la pantalla para continuar</div>
    </div>
    </a>
  </div>
<app-footer></app-footer>  